VARIABLES :root {
	/* FONTS */
	--font-poppins: var(--font-poppins);
	--font-bebas-neue: var(--font-bebas-neue);
	--font-necto-mono: var(--font-necto-mono);
	--font-abril-fatface: var(--font-abril-fatface);
}

/* SCROLL BLOCK WHEN MODAL OPEN */

body.no-doc-scroll {
	overflow: hidden !important;
	touch-action: none;
	/* Prevent content shifting when scrollbar disappears */
	padding-right: var(--scrollbar-width, 0px);
	/* Ensures iOS respects the scroll lock */
	position: fixed;
	width: 100%;
	/* Maintain the scroll position */
	height: 100%;
}

/* SCROLLBAR HIDE */

/* Pour Chrome, Edge et Safari */
::-webkit-scrollbar {
	display: none;
}

/* Pour Firefox */
html {
	scrollbar-width: none;
}

/* GLOBAL STYLES */

body {
	min-height: 100vh;
	max-width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;

	/* Pour IE et Edge (moins pertinent en 2025 mais sait-on jamais) */
	-ms-overflow-style: none;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	/* outline: 1px solid red; */
}

main {
	width: 100%;
}

h1 {
	font-family: var(--font-bebas-neue);
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}
