/* VARIABLES */

:root {
	/* FONTS */
	--font-poppins: var(--font-poppins);
	--font-bebas-neue: var(--font-bebas-neue);
	--font-necto-mono: var(--font-necto-mono);
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}
