/* VARIABLES */

:root {
	/* FONTS */
	--font-poppins: var(--font-poppins);
	--font-bebas-neue: var(--font-bebas-neue);
	--font-necto-mono: var(--font-necto-mono);
}

/* SCROLL BLOCK WHEN MODAL OPEN */

:root:has(.no-doc-scroll) {
	overflow: hidden;
}

/* SCROLLBAR HIDE */

/* Pour Chrome, Edge et Safari */
::-webkit-scrollbar {
	display: none;
}

/* Pour Firefox */
html {
	scrollbar-width: none;
	scroll-behavior: smooth;
}

/* GLOBAL STYLES */

body {
	min-height: 100vh;
	max-width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;

	/* Pour IE et Edge (moins pertinent en 2025 mais sait-on jamais) */
	-ms-overflow-style: none;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

main {
	flex: 1;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}
