.form {
	width: 100%;
	display: flex;
	flex-direction: column;
	font-family: var(--font-poppins);
}

.inputsContainer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 4rem;
	margin-bottom: 5rem;

	@media (max-width: 768px) {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 1fr);
		gap: 4rem;
	}

	.formInput {
		width: 100%;
		padding-block: 0.5rem;
		padding-left: 0.5rem;
		border: none;
		border-bottom: 1.5px solid black;
		background-color: transparent;
		color: black;
		font-size: clamp(1rem, 0.8924rem + 0.5063vw, 1.5rem);

		&:focus {
			outline: none;
			border-bottom: 2px solid black;
		}

		&::placeholder {
			color: hsla(0, 0%, 0%, 0.3);
			font-size: clamp(1rem, 0.9462rem + 0.2532vw, 1.25rem);
		}
	}

	.inputLabel {
		padding-left: 0.5rem;
	}
}

.textareaContainer {
	margin-bottom: 2rem;
	.textarea {
		width: 100%;
		padding-block: 0.5rem;
		padding-left: 1rem;
		border: 1.5px solid black;
		border-radius: 1rem;
		background-color: transparent;
		font-family: var(--font-poppins);
		color: black;
		font-size: clamp(1rem, 0.8924rem + 0.5063vw, 1.5rem);

		&:focus {
			outline: none;
			border: 2px solid black;
		}

		&::placeholder {
			color: hsla(0, 0%, 0%, 0.3);
			font-size: clamp(1rem, 0.9462rem + 0.2532vw, 1.25rem);
		}
	}
	.textareaLabel {
		padding-left: 1.5rem;
	}
}

.buttonContainer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
	align-items: center;

	.button {
		border: none;
		font-family: var(--font-poppins);
		text-transform: uppercase;
		font-size: 1.25rem;
		font-weight: 500;
		background-color: black;
		border-radius: 2rem;
		padding: 15px 45px;
		color: #ffff;
		cursor: pointer;
		transition: transform 0.2s ease-out;

		&:hover {
			transform: translateY(-4px);
		}
	}

	.mascotte {
		width: clamp(5rem, 4.6136rem + 1.8182vw, 6.25rem);
		height: auto;
	}

	.result {
		font-size: clamp(1rem, 0.9462rem + 0.2532vw, 1.25rem);
	}
}

/* Media Queries */

@media screen and (max-width: 576px) {
	.form__input_container {
		flex-direction: column;
		gap: 4rem;
		margin-bottom: 4rem;
	}

	.form_input {
		width: 100%;
	}
}
