.aboutSection {
	width: 100%;
	font-family: var(--font-poppins);
	display: flex;
	justify-content: center;
}

.aboutContent {
	width: 100%;
	max-width: 1920px;
	display: flex;
	justify-content: center;
	padding: 5rem 2rem;

	/* @media (width > 1540px) {
		width: 80%;
	} */

	@media (width <= 1024px) {
		flex-direction: column;
		gap: 1rem;
	}

	@media (width <= 768px) {
		padding-inline: 1rem;
		gap: 3rem;
	}
}

.contentRightSide {
	flex: 2;

	p {
		font-size: clamp(1.25rem, 0.9437rem + 1.4414vw, 3.25rem);
	}
}

.contentLeftSide {
	flex: 1;
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 6rem;

	@media (640px < width <= 1024px) {
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
		align-items: center;
	}

	@media (width < 640px) {
		gap: 0;
		width: 100%;
		align-items: flex-start;
	}
}

.mascotte {
	width: clamp(200px, 11.2872rem + 5.6408vw, 325px);

	@media (width <= 1540px) {
		align-self: center;
	}
}
