.aboutSection {
	width: 100%;
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.aboutContent {
	width: 100%;
	max-width: 1920px;
	display: flex;
	justify-content: center;
	padding: 5rem 2rem;

	@media (width <= 1024px) {
		flex-direction: column;
		gap: 1rem;
	}

	@media (width <= 768px) {
		padding: 2rem 1rem;
		gap: 0;
	}

	@media (width <= 640px) {
		gap: 4rem;
	}
}

.contentLeftSide {
	flex: 2;

	.text {
		font-size: clamp(1.25rem, 0.9437rem + 1.4414vw, 3.25rem);
	}
}

.contentRightSide {
	flex: 1;
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 8rem;

	@media (width <= 1024px) {
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
		align-items: center;
	}

	@media (width <= 640px) {
		flex-direction: column;
		gap: 2rem;
		width: 100%;
		align-items: flex-start;
	}

	.openingTimes {
		flex: 2;
	}

	.mascotte {
		width: clamp(13.4375rem, 11.9581rem + 6.962vw, 20.3125rem);
		height: auto;

		@media (width <= 1540px) {
			align-self: center;
		}

		@media (640px < width <= 1024px) {
			width: clamp(13.4375rem, 1.9792rem + 28.6458vw, 20.3125rem);
			padding-right: 2rem;
		}
	}
}
