.dwitchesSection {
	width: 100%;
	min-height: 100dvh;
	font-family: var(--font-poppins);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.keywordsChain {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	position: absolute;
	left: -200px;
	top: 230px;

	@media (width > 1540px) {
		top: 220px;
	}
}

.dwitchesContent {
	display: grid;
	grid-template-columns: repeat(8, minmax(172px, 1fr));
	grid-template-rows: repeat(6, minmax(172px, 1fr));
	grid-template-areas:
		". . . . dwitch dwitch dwitch dwitch"
		". album . . dwitch dwitch dwitch dwitch"
		". . . . dwitch dwitch dwitch dwitch"
		". title title title dwitch dwitch dwitch dwitch"
		". text text text text text . . "
		". text text text text text . . ";
}

@media (width > 1740px) {
	.dwitchesContent {
		width: 80%;
	}
}

@media (width < 1740px) {
	.dwitchesContent {
		justify-content: center;
		padding-inline: 2rem;
	}
}

@media (width < 1024px) {
	.dwitchesContent {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}

@media (width < 768px) {
	.dwitchesContent {
		padding-inline: 1rem;
		gap: 3rem;
	}
}

.albumCover {
	grid-area: album;

	img {
		width: 100%;
		max-width: 200px;
		height: auto;
	}
}

.keywordsChain {
	grid-column: 1 / 16;
	grid-row: 3 / 5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	font-size: 2rem;
	font-family: var(--font-necto-mono);
	text-transform: uppercase;
	overflow: hidden;
}

.dwitchImageContainer {
	grid-area: dwitch;
	width: 100%;
	max-width: 900px;
	justify-self: end;
	align-self: self-end;

	img {
		width: 100%;

		height: auto;
		object-fit: cover;
	}
}

.title {
	grid-area: title;
	align-self: self-end;

	h1 {
		font-family: var(--font-bebas-neue);
		/* font-size: clamp(7.25rem, 6.2286rem + 4.1905vw, 10rem); */
		font-size: clamp(7.25rem, 5rem + 4vw, 14rem);
		/* font-size: 14rem; */

		font-weight: 400;
		display: flow-root;

		&::before {
			content: "";
			display: table;
			margin-bottom: calc(-0.5lh + 0.41em);
		}

		&::after {
			content: "";
			display: table;
			margin-bottom: calc(-0.5lh + 0.36em);
		}
	}
}

.text {
	grid-area: text;
	/* max-width: 85%; */
	margin-top: 2rem;
	font-size: clamp(1rem, 0.75em + 0.65vw, 1.75rem);
	line-height: 2.25;
}
