.dwitchesSection {
	width: 100%;
	min-height: 100dvh;
	font-family: var(--font-poppins);
	display: flex;
	justify-content: center;
}

.dwitchesContent {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 160px);
}

@media (width > 1540px) {
	.dwitchesContent {
		width: 80%;
	}
}

@media (width < 1540px) {
	.dwitchesContent {
		justify-content: center;
		padding-inline: 2rem;
	}
}

@media (width < 1024px) {
	.dwitchesContent {
		flex-direction: column;
		gap: 1rem;
	}
}

@media (width < 768px) {
	.dwitchesContent {
		padding-inline: 1rem;
		gap: 3rem;
	}
}

.albumCover {
	grid-column: 3 / 3;
	grid-row: 3 / 3;
}

.keywordsChain {
	grid-column: 1 / 9;
	grid-row: 3 / 3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	font-size: 2rem;
	font-family: var(--font-necto-mono);
	text-transform: uppercase;
	overflow: hidden;
}

.dwitchImageContainer {
	grid-column: 8 /9;
	grid-row: 2 / 4;
}

.title {
	grid-column: 3 / 6;
	grid-row: 6 / 6;
	display: flex;
	align-items: flex-end;

	h1 {
		font-family: var(--font-bebas-neue);
		font-size: 10rem;
		display: flow-root;

		&::before {
			content: "";
			display: table;
			margin-bottom: calc(-0.5lh + 0.41em);
		}

		&::after {
			content: "";
			display: table;
			margin-bottom: calc(-0.5lh + 0.36em);
		}
	}
}

.text {
	grid-column: 3 / 9;
	grid-row: 7 / 7;
	max-width: 65%;
	margin-top: 2rem;
	font-size: 1.5rem;
}
