.dwitchesSection {
	width: 100%;
	min-height: 100dvh;
	font-family: var(--font-poppins);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-block: 5rem;
	overflow: hidden;
}

.keywordsChain {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	position: absolute;
	/* left: -500px; */
	top: 50px;
}

.dwitchesContent {
	max-width: 1976px;
	display: grid;
	grid-template-columns: repeat(8, minmax(120px, 1fr));
	grid-template-rows: minmax(120px, auto);
	grid-template-areas:
		". album . . dwitch dwitch dwitch dwitch"
		". . . . dwitch dwitch dwitch dwitch"
		". . . . dwitch dwitch dwitch dwitch"
		". title title title dwitch dwitch dwitch dwitch"
		". text text text text text . . "
		". text text text text text . . ";
}

@media (width > 1740px) {
	.dwitchesContent {
		width: 80%;
	}
}

@media (width < 1740px) {
	.dwitchesContent {
		justify-content: center;
		padding-inline: 2rem;
	}
}

@media (width < 1024px) {
	.dwitchesContent {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}

@media (width < 768px) {
	.dwitchesContent {
		padding-inline: 1rem;
		gap: 3rem;
	}
}

.albumCover {
	grid-area: album;
	position: relative;
	display: flex;
	aspect-ratio: 1 / 1;
	margin-top: 4rem;

	@media (width < 1280px) {
		align-self: flex-end;
	}

	img {
		width: 100%;
		max-width: 200px;
		height: auto;
		position: absolute;
		top: 0px;
	}
}

.dwitchImageContainer {
	grid-area: dwitch;
	width: 100%;
	max-width: 900px;
	justify-self: end;
	align-self: center;
	overflow: hidden;
	aspect-ratio: 1 / 1;

	img {
		width: 100%;
		height: auto;
		object-fit: cover;
		overflow: hidden;
	}
}

.title {
	grid-area: title;
	align-self: self-end;
	width: fit-content;

	h1 {
		font-family: var(--font-bebas-neue);
		font-size: clamp(7rem, 2.3333rem + 7.2917vw, 14rem);
		/* font-size: 112px; */

		font-weight: 400;
		display: flow-root;

		&::before {
			content: "";
			display: table;
			margin-bottom: calc(-0.5lh + 0.41em);
		}

		&::after {
			content: "";
			display: table;
			margin-bottom: calc(-0.5lh + 0.36em);
		}
	}
}

.text {
	grid-area: text;
	margin-top: 2rem;
	font-size: clamp(1rem, 0.75em + 0.65vw, 1.75rem);
	line-height: 2.25;
}
