.dwitchesSection {
	width: 100%;
	min-height: 100dvh;
	font-family: var(--font-poppins);
	display: flex;
	justify-content: center;
	align-items: center;
}

.dwitchesContent {
	display: grid;
	grid-template-columns: repeat(auto-fill, 86px);
	grid-template-rows: repeat(16, 80px);
}

@media (width > 1540px) {
	.dwitchesContent {
		width: 80%;
	}
}

@media (width < 1540px) {
	.dwitchesContent {
		justify-content: center;
		padding-inline: 2rem;
	}
}

@media (width < 1024px) {
	.dwitchesContent {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}

@media (width < 768px) {
	.dwitchesContent {
		padding-inline: 1rem;
		gap: 3rem;
	}
}

.albumCover {
	grid-column: 2 / 3;
	grid-row: 3 / 3;
}

.keywordsChain {
	grid-column: 1 / 16;
	grid-row: 3 / 5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	font-size: 2rem;
	font-family: var(--font-necto-mono);
	text-transform: uppercase;
	overflow: hidden;
}

.dwitchImageContainer {
	grid-column: 9 / 16;
	grid-row: 2 / 12;

	img {
		object-fit: cover;
	}
}

.title {
	grid-column: 2 / 6;
	grid-row: 11 / 11;
	display: flex;
	align-items: flex-end;

	h1 {
		font-family: var(--font-bebas-neue);
		font-size: 10rem;
		display: flow-root;

		&::before {
			content: "";
			display: table;
			margin-bottom: calc(-0.5lh + 0.41em);
		}

		&::after {
			content: "";
			display: table;
			margin-bottom: calc(-0.5lh + 0.36em);
		}
	}
}

.text {
	grid-column: 2 / 15;
	grid-row: 12 / 12;
	max-width: 85%;
	margin-top: 1rem;
	font-size: 1.5rem;
}
