.gallerySection {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.galleryContent {
	max-width: 1920px;
	padding: 5rem 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	gap: 5rem;

	@media (width <= 768px) {
		padding: 4rem 1rem;
	}

	.galleryImagesContainer {
		width: 100%;
		display: flex;
		justify-content: space-between;

		@media (width <= 640px) {
			flex-direction: column;
			align-items: center;
			gap: 2rem;
		}

		.counterDwitchImage,
		.grilledSunImage,
		.chairsImage {
			width: clamp(14.375rem, -1.042rem + 32.118vi, 37.5rem);
			height: auto;

			@media (width <= 768px) {
				width: clamp(12.188rem, -1.875rem + 35.156vi, 15rem);
			}

			@media (width <= 640px) {
				width: 100%;
				aspect-ratio: 1/1;
				object-fit: cover;
				object-position: center;
			}
		}
	}
}

.panelContainer {
	position: sticky;
	top: 6rem;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.bottomSpacer {
	height: 80px;
	width: 100%;
}
