.hero {
	height: 100svh;
	width: 100%;
	margin: 0 auto;
	padding-block: 10rem 5rem;
	padding-inline: 2rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;

	@media (width > 1536px) {
		max-width: 1536px;
	}

	@media (width <= 768px) {
		padding-inline: 1rem;
	}

	@media (width <= 640px) {
		padding-bottom: 2rem;
	}
}

.heroImg {
	width: 100%;
	height: 75%;
	object-fit: cover;
}

.heroText {
	width: fit-content;
	display: flex;
	flex-direction: column;
	align-self: flex-end;
	text-align: right;
	gap: 1rem;
	position: relative;

	h1,
	h2 {
		display: flow-root;

		&::before {
			content: "";
			display: table;
			margin-bottom: calc(-0.48lh + 0.41em);
		}

		&::after {
			content: "";
			display: table;
			margin-bottom: calc(-0.51lh + 0.36em);
		}
	}

	h1 {
		font-family: var(--font-bebas-neue);
		font-size: clamp(6.2rem, 5.25rem + 3.5vw, 12rem);
		z-index: 1;

		@media (width <= 475px) {
			text-align: left;
			font-size: clamp(5.25rem, -0.5426rem + 27.2593vw, 7.55rem);
		}
	}

	h2 {
		font-family: var(--font-poppins);
		font-size: clamp(0.65rem, 0.425rem + 0.95vw, 1.25rem);
		font-weight: 400;
		transform: translateY(-10px);
	}
}

.stickerWrapper {
	position: absolute;
	bottom: 80%;
	right: -5px;
	transform: rotate(24deg);
	z-index: 0;
	width: clamp(5rem, 3.924rem + 5.063vw, 10rem);

	img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}
}
