.hero {
	height: 100svh;
	width: 100%;
	margin-inline: auto;
	padding-block: 5rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;

	@media (width < 1540px) {
		justify-content: center;
		padding-inline: 2rem;
	}

	@media (width > 1540px) {
		width: 65%;
	}

	@media (width < 768px) {
		padding-inline: 1rem;
	}
}

.heroImg {
	width: 100%;
	height: 70%;
	object-fit: cover;
}

.heroText {
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: right;
	gap: 1rem;

	h1,
	h2 {
		display: flow-root;

		&::before {
			content: "";
			display: table;
			margin-bottom: calc(-0.5lh + 0.41em);
		}

		&::after {
			content: "";
			display: table;
			margin-bottom: calc(-0.5lh + 0.36em);
		}
	}

	h1 {
		font-family: var(--font-bebas-neue);
		font-size: clamp(6.2rem, 5.25rem + 3.5vw, 12rem);

		@media (width < 480px) {
			text-align: left;
			font-size: clamp(5rem, 0.15rem + 24.5vw, 7.75rem);
		}
	}

	h2 {
		font-family: var(--font-poppins);
		font-size: clamp(0.65rem, 0.425rem + 0.95vw, 1.25rem);
		font-weight: 400;
		transform: translateY(-10px);
	}
}
