.hero {
	height: 100vh;
	width: 65%;
	margin-top: 2rem;
	margin-bottom: 100vh;
	margin-inline: auto;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (width > 1980px) {
	.hero {
		margin-top: 4rem;
	}
}

.heroImg {
	width: 100%;
	height: 65%;
	object-fit: cover;
}

.heroText {
	width: 100%;
	/* padding-inline: 2rem; */
	display: flex;
	flex-direction: column;
	text-align: right;
}

.heroText h1 {
	font-family: var(--font-bebas-neue);
	font-size: 11rem;
	line-height: 1;
}

.heroText h2 {
	font-family: var(--font-poppins);
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 0;
}
