.hero {
	width: 100%;
	height: 100svh;
	overflow: hidden;
	padding-block: 10rem 5rem;
	position: relative;
	overflow: hidden;
}

.heroContent {
	max-width: 1536px;
	height: 100%;
	margin: 0 auto;
	padding-inline: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

@media (width <= 768px) {
	.heroContent {
		padding-inline: 1rem;
	}
}

@media (width <= 640px) {
	.heroContent {
		padding-bottom: 2rem;
	}
}
.heroImgWrapper {
	width: 100%;
	height: 75%;
	overflow: hidden;
}

.heroImg {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.heroText {
	width: fit-content;
	max-width: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-self: flex-end;
	text-align: right;
	gap: 1rem;
	position: relative;
	box-sizing: border-box;

	.mainTitle,
	.subTitle {
		display: flow-root;

		&::before {
			content: "";
			display: table;
			margin-bottom: calc(-0.48lh + 0.41em);
		}

		&::after {
			content: "";
			display: table;
			margin-bottom: calc(-0.51lh + 0.36em);
		}
	}

	.mainTitle {
		font-family: var(--font-bebas-neue);
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
		font-size: clamp(6.2rem, 5.25rem + 3.5vw, 12rem);
		z-index: 1;
		background: rgba(255, 0, 0, 0.2);

		@media (width <= 475px) {
			text-align: center;
			font-size: clamp(2.9rem, -0.4818rem + 27.0545vw, 7.55rem);
		}
	}

	@supports (-webkit-touch-callout: none) {
		.mainTitle {
			letter-spacing: -0.1em;
		}
	}

	.subTitle {
		font-family: var(--font-poppins);
		font-size: clamp(0.65rem, 0.425rem + 0.95vw, 1.25rem);
		font-weight: 400;
		transform: translateY(-10px);
	}
}

.stickerWrapper {
	position: absolute;
	bottom: 85%;
	right: 0;
	transform: translate(5px 0);
	transform: rotate(24deg);
	z-index: 0;
	width: clamp(5rem, 3.924rem + 5.063vw, 10rem);

	.sticker {
		width: 100%;
		height: auto;
		object-fit: cover;
		display: block;
	}
}
