.hero {
	height: 100vh;
	width: 95vw;
	margin-top: 2rem;
	margin-inline: auto;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (width > 1720px) {
	.hero {
		width: 65%;
	}
}

@media (width < 480px) {
	.hero {
		margin-top: 1rem;
	}
}

.heroImg {
	width: 100%;
	height: 65%;
	object-fit: cover;
}

.heroText {
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: right;
}

.heroText h1 {
	font-family: var(--font-bebas-neue);
	font-size: clamp(6.2rem, 5.25rem + 3.5vw, 12rem);
	line-height: 1;
}

@media (width < 480px) {
	.heroText h1 {
		text-align: left;
		font-size: clamp(5.85rem, 0.15rem + 25.5vw, 7.75rem);
	}
}

.heroText h2 {
	font-family: var(--font-poppins);
	font-size: clamp(0.65rem, 0.425rem + 0.95vw, 1.25rem);
	font-weight: 400;
	line-height: 0.8;
	transform: translateY(-10px);
}
