.stMichSection {
	min-height: 95vh;
	font-family: var(--font-poppins);
	overflow: hidden;
}

.stMichContent {
	max-width: 1920px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;

	@media (width <= 768px) {
		padding: 4rem 1rem;
	}

	@media (width <= 640px) {
		padding: 2rem 1rem;
	}
}

.title h1 {
	text-align: center;
	font-size: clamp(7.92rem, 5.3205rem + 12.2329vw, 20rem);
	text-transform: uppercase;
}

.images {
	width: 100%;
	position: relative;
	margin-inline: auto;
	padding-inline: 2rem;
	height: 100vh;

	@media screen and (max-height: 1400px) and (width <= 1024px) {
		height: 70vh;
	}

	.imageContainer {
		position: absolute;
		width: fit-content;

		&:nth-of-type(1) {
			left: 0;
			right: 0;
			top: 8rem;
			margin-inline: auto;
			width: clamp(15.625rem, 8.228rem + 34.81vi, 50rem);
			z-index: 1;
		}

		&:nth-of-type(2) {
			left: clamp(0rem, -3.063rem + 14.414vi, 20rem);
			top: 20rem;
			width: clamp(6.25rem, 3.224rem + 14.241vi, 20.313rem);
			z-index: 2;
		}

		&:nth-of-type(3) {
			left: 0;
			right: 0;
			top: clamp(23rem, 19.937rem + 14.414vi, 43rem);
			margin-inline: auto;
			width: clamp(6.25rem, 3.224rem + 14.241vi, 20.313rem);
			z-index: 3;
		}

		&:nth-of-type(4) {
			left: clamp(0rem, -3.063rem + 14.414vi, 20rem);
			top: clamp(32rem, 28.937rem + 14.414vi, 52rem);
			width: clamp(8rem, 3.696rem + 20.253vi, 28rem);
			z-index: 4;
		}

		&:nth-of-type(5) {
			right: clamp(0rem, -3.063rem + 14.414vi, 20rem);
			top: 20rem;
			width: clamp(6.25rem, 3.224rem + 14.241vi, 20.313rem);
			z-index: 2;
		}

		&:nth-of-type(6) {
			right: clamp(0rem, -3.063rem + 14.414vi, 20rem);
			top: clamp(27rem, 23.171rem + 18.018vi, 52rem);
			width: clamp(8rem, 3.696rem + 20.253vi, 28rem);
			z-index: 2;
		}

		img {
			object-fit: cover;
			width: 100%;
			height: auto;
		}
	}
}

.stickerWrapper1 {
	position: absolute;
	z-index: 120;
	bottom: 15%;
	left: 20%;
	transform: rotate(24deg);
	width: clamp(5rem, 3.924rem + 5.063vw, 10rem);

	img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}
}

.stickerWrapper2 {
	position: absolute;
	z-index: 120;
	top: 60%;
	right: 20%;
	transform: rotate(-24deg);
	width: clamp(7.5rem, 6.155rem + 6.329vw, 13.75rem);

	img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}
}
