.stMichSection {
	font-family: var(--font-poppins);
	overflow: hidden;
}

.stMichContent {
	max-width: 1920px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@media (width <= 768px) {
		padding-inline: 1rem;
	}
}

.titleContainer {
	width: 100%;

	.title {
		text-align: center;
		font-size: clamp(15rem, 11.5rem + 8.75vw, 22rem);
		text-transform: uppercase;
		font-weight: 400;
		letter-spacing: clamp(0rem, -0.0156rem + 0.0391vw, 0.03125rem);

		@media (width <= 640px) {
			font-size: clamp(7.92rem, -0.104rem + 37.76vw, 15rem);
			letter-spacing: 0;
		}
	}
}

.images {
	width: 100%;
	height: clamp(50dvh, 85dvh - 20dvh, 120dvh);
	position: relative;
	margin-inline: auto;
	margin-bottom: 2rem;
	/* padding: 5vh 2rem; */
	/* height: calc(80dvh - 10dvh);
	min-height: 500px;
	max-height: 900px; */
	display: flex;
	justify-content: center;
	will-change: transform;

	/* @media screen and (min-height: 1000px) and (max-height: 1366px) and (width <= 1024px) {
		height: calc(
			65dvh - 10dvh
		);
		max-height: 700px;
		padding: 4vh 2rem;
	}

	@media screen and (max-height: 1000px) and (width <= 1024px) {
		height: calc(70dvh - 10dvh);
		min-height: 450px;
	}

	@media screen and (max-height: 800px) {
		height: calc(80dvh - 10dvh);
		min-height: 480px;
		padding: 4dvh 2rem;
	}

	@media screen and (max-height: 600px) {
		height: calc(85dvh - 8dvh);
		min-height: 350px;
		padding: 3dvh 2rem;
	}

	@media screen and (width <= 768px) {
		height: calc(
			75vh - 10vh
		);
		will-change: transform;
	} */

	.imageContainer {
		position: absolute;
		width: fit-content;

		&:nth-of-type(1) {
			left: 0;
			right: 0;
			top: 5rem;
			margin-inline: auto;
			width: clamp(15.625rem, 8.228rem + 34.81vi, 50rem);
			z-index: 1;
		}

		&:nth-of-type(2) {
			left: clamp(0rem, -3.063rem + 14.414vi, 20rem);
			top: 18rem;
			width: clamp(6.25rem, 3.224rem + 14.241vi, 20.313rem);
			z-index: 2;
		}

		&:nth-of-type(3) {
			left: 0;
			right: 0;
			top: clamp(24rem, 13.837rem + 14.314vi, 42rem);
			margin-inline: auto;
			width: clamp(6.25rem, 3.224rem + 14.241vi, 20.313rem);
			z-index: 3;
		}

		&:nth-of-type(4) {
			left: clamp(0rem, -3.063rem + 14.414vi, 20rem);
			top: clamp(30rem, 22.937rem + 13.414vi, 51rem);
			width: clamp(8rem, 3.696rem + 20.253vi, 28rem);
			z-index: 4;
		}

		&:nth-of-type(5) {
			right: clamp(0rem, -3.063rem + 14.414vi, 20rem);
			top: 19rem;
			width: clamp(6.25rem, 3.224rem + 14.241vi, 20.313rem);
			z-index: 2;
		}

		&:nth-of-type(6) {
			right: clamp(0rem, -3.063rem + 14.414vi, 20rem);
			top: clamp(25rem, 21.171rem + 13.018vi, 52rem);
			width: clamp(8rem, 3.696rem + 20.253vi, 28rem);
			z-index: 2;
		}

		.image {
			object-fit: cover;
			width: 100%;
			height: auto;
			display: block;
		}
	}
}

.stickerWrapperPink {
	position: absolute;
	z-index: 6;
	top: 2rem;
	right: clamp(0rem, -6.456rem + 30.38vw, 30rem);

	transform: rotate(24deg);
	width: clamp(5rem, 3.924rem + 5.063vw, 10rem);

	@media (height <= 680) {
		bottom: 0;
	}

	.stickerPink {
		width: 100%;
		height: auto;
		object-fit: cover;
		display: block;
	}
}

.stickerWrapperShine {
	position: absolute;
	z-index: 6;
	top: 2rem;
	left: clamp(0rem, -6.456rem + 30.38vw, 30rem);
	transform: rotate(-24deg);
	width: clamp(7.5rem, 6.155rem + 6.329vw, 13.75rem);

	.stickerShine {
		width: 100%;
		height: auto;
		object-fit: cover;
		display: block;
	}
}
