.notFound {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #f0f0f0;
}

.notFoundText {
	font-size: 2rem;
	color: #333;
	margin-bottom: 1rem;
}
