.header {
	width: 100%;
	padding-inline: 2rem;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: 2rem;
	overflow: hidden;

	@media (width > 1536px) {
		max-width: 1840px;
	}

	@media (width <= 768px) {
		padding-inline: 1rem;
	}
}

.logo {
	width: clamp(9.375rem, 9.1357rem + 1.1261vw, 10.9375rem);
	height: auto;
	display: block;
}

.nav {
	font-family: var(--font-poppins);
	text-transform: uppercase;
	display: flex;
	align-items: center;
	gap: 4rem;

	@media (width < 760px) {
		display: none;
	}
}

.el {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 1;
	transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);

	.link {
		font-size: clamp(1rem, 0.9181rem + 0.1724vw, 1.125rem);
	}
}

.el:hover {
	transform: translateY(2px);
}

.indicator {
	position: absolute;
	width: 100%;
	height: 2px;
	top: 32px;
	background-color: var(--border-black);
	transform: scale(0) translateY(-10px);
	transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.el:hover .indicator {
	transform: scale(1) translateY(-6px);
}

/* HEADER MENU BUTTON ON SCROLL */
/* --------------------------------------- */
.headerButtonContainer {
	transform: scale(0);
	position: fixed;
	right: 0px;
	top: 0px;
	z-index: 1000;
}

.headerButton {
	position: relative;
	margin: 20px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: var(--bg-menu-button);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.1);
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* MOBILE BURGER BUTTON */
/* --------------------------------------- */
@media (width > 760px) {
	.mobileMenuContainer {
		display: none;
	}
}
