.header {
	width: 95vw;
	max-width: 1920px;
	margin-inline: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: 2rem;
}

@media (width > 1720px) {
	.header {
		width: 80vw;
	}
}

.nav {
	font-family: var(--font-poppins);
	text-transform: uppercase;
	display: flex;
	align-items: center;
	gap: 4rem;
}

.el {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 1;
	transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.el:hover {
	transform: translateY(4px);
}

.indicator {
	position: absolute;
	width: 100%;
	height: 2px;
	top: 24px;
	left: 50%;
	background-color: black;
	transform: scale(0) translateX(-50%);
	transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.el:hover .indicator {
	transform: scale(1) translateX(-50%);
}

.headerButtonContainer {
	transform: scale(0);
	position: fixed;
	right: 0px;
	top: 0px;
	z-index: 4;
}

@media (width > 1720px) {
	.headerButtonContainer {
		/* right: 8vw; */
	}
}

.headerButton {
	position: relative;
	margin: 20px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: palevioletred;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.burger {
	width: 100%;
	position: relative;
	z-index: 1;

	&::after,
	&::before {
		content: "";
		display: block;
		height: 2px;
		width: 40%;
		margin: auto;
		background-color: black;
		position: relative;
		transition: transform 0.3s;
	}

	&::after {
		top: -5px;
	}

	&::before {
		top: 5px;
	}
}

.burgerActive {
	&::after {
		transform: translateY(4px) rotate(45deg);
		/* top: -1px; */
	}

	&::before {
		transform: translateY(-4px) rotate(-45deg);
		/* top: 0px; */
	}
}
