.header {
	width: 95vw;
	max-width: 1920px;
	margin-inline: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: 2rem;
}

@media (width > 1720px) {
	.header {
		width: 80vw;
	}
}

.logo {
	width: 175px;
}

@media (width < 480px) {
	.logo {
		width: 150px;
	}
}

.nav {
	font-family: var(--font-poppins);
	text-transform: uppercase;
	display: flex;
	align-items: center;
	gap: 4rem;
}

@media (width < 760px) {
	.nav {
		display: none;
	}
}

.el {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 1;
	transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);

	a {
		font-size: clamp(0.875rem, 0.8rem + 0.1vw, 1rem);
	}
}

.el:hover {
	transform: translateY(4px);
}

.indicator {
	position: absolute;
	width: 100%;
	height: 2px;
	top: 24px;
	left: 50%;
	background-color: black;
	transform: scale(0) translateX(-50%);
	transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.el:hover .indicator {
	transform: scale(1) translateX(-50%);
}

/* HEADER MENU BUTTON ON SCROLL */
/* --------------------------------------- */
.headerButtonContainer {
	transform: scale(0);
	position: fixed;
	right: 0px;
	top: 0px;
	z-index: 1000;
}

.headerButton {
	position: relative;
	margin: 20px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #d87093;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.burger {
	width: 100%;
	position: relative;
	z-index: 1;

	&::after,
	&::before {
		content: "";
		display: block;
		height: 2px;
		width: 40%;
		margin: auto;
		background-color: black;
		position: relative;
		transition: transform 0.3s;
	}

	&::after {
		top: -5px;
	}

	&::before {
		top: 5px;
	}
}

.burgerActive {
	&::after {
		transform: translateY(4px) rotate(45deg);
	}

	&::before {
		transform: translateY(-4px) rotate(-45deg);
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.1);
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* MOBILE BURGER BUTTON */
/* --------------------------------------- */
@media (width > 760px) {
	.mobileMenuContainer {
		display: none;
	}
}
.mobileBurger {
	background: transparent;
	border: none;
	position: relative;
	z-index: 1000;
}

.hamburger {
	fill: black;
	transition: 1s;
}

.hamburger.mobileBurgerActive {
	fill: white;
	transition: 0.8s;
}

.topLine,
.bottomLine,
.middleLine {
	transition: y 0.3s ease-in 0.3s, rotate 0.3s ease-in, opacity 0s 0.3s;
	transform-origin: center;
}

.mobileBurgerActive :is(.topLine, .bottomLine, .middleLine) {
	transition: y 0.3s ease-in, rotate 0.3s ease-in 0.3s, opacity 0s 0.3s;
}

.mobileBurgerActive :is(.topLine, .bottomLine) {
	y: 45;
}

.mobileBurgerActive .topLine {
	rotate: 45deg;
}

.mobileBurgerActive .bottomLine {
	rotate: -45deg;
}

.mobileBurgerActive .middleLine {
	opacity: 0;
}
