.header {
	width: 80%;
	max-width: 1980px;
	margin-inline: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: 2rem;
}

.nav {
	font-family: var(--font-poppins);
	text-transform: uppercase;
	display: flex;
	align-items: center;
	gap: 4rem;
}

.el {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 1;
	transition: transform 0.2s cubic-bezier(0.76, 0, 0.24, 1);
}

.el:hover {
	transform: translateY(5px);
}

.indicator {
	position: absolute;
	width: 100%;
	height: 2px;
	top: 30px;
	left: 50%;
	background-color: black;
	transform: scale(0) translateX(-50%);
	transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.el:hover .indicator {
	transform: scale(1) translateX(-50%);
}
