.header {
	width: 100%;
	padding-inline: 2rem;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: 2rem;
	overflow: hidden;

	@media (width > 1536px) {
		max-width: 1840px;
	}

	@media (width <= 768px) {
		padding-inline: 1rem;
	}
}

.logo {
	width: clamp(9.375rem, 9.1357rem + 1.1261vw, 10.9375rem);
	height: auto;
	display: block;
}

.nav {
	font-family: var(--font-poppins);
	text-transform: uppercase;
	display: flex;
	align-items: center;
	gap: 4rem;

	@media (width < 760px) {
		display: none;
	}
}

.el {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 1;
	transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);

	.link {
		font-size: clamp(1rem, 0.9181rem + 0.1724vw, 1.125rem);
	}
}

.el:hover {
	transform: translateY(2px);
}

.indicator {
	position: absolute;
	width: 100%;
	height: 2px;
	top: 32px;
	background-color: black;
	transform: scale(0) translateY(-10px);
	transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.el:hover .indicator {
	transform: scale(1) translateY(-6px);
}

/* HEADER MENU BUTTON ON SCROLL */
/* --------------------------------------- */
.headerButtonContainer {
	transform: scale(0);
	position: fixed;
	right: 0px;
	top: 0px;
	z-index: 1000;
}

.headerButton {
	position: relative;
	margin: 20px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #ed73aa;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.burger {
	width: 100%;
	position: relative;
	z-index: 1;

	&::after,
	&::before {
		content: "";
		display: block;
		height: 2px;
		width: 40%;
		margin: auto;
		background-color: black;
		position: relative;
		transition: transform 0.3s;
		will-change: transform, rotate;
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		transform-origin: center;
	}

	&::after {
		top: -5px;
		animation: upbackward 0.3s ease-in-out;
	}

	&::before {
		top: 5px;
		animation: downbackward 0.3s ease-in-out;
	}
}

.burgerActive {
	&::after {
		animation: downward 0.3s ease-in-out;
		transform: translateY(4px) rotate(45deg);
		transition: translateY 0.3s ease-in-out rotate 0.3s ease-in-out;
		-webkit-transform: translateY(4px) rotate(45deg);
		will-change: transform, rotate;
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
	}

	&::before {
		animation: upward 0.3s ease-in-out;
		transform: translateY(-4px) rotate(-45deg);
		transition: translateY 0.3s ease-in-out rotate 0.3s ease-in-out;
		-webkit-transform: translateY(-4px) rotate(-45deg);
		will-change: transform, rotate;
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
	}
}

@keyframes downward {
	0% {
		transform: translateY(0px) rotate(0deg);
		-webkit-transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(4px) rotate(0deg);
		-webkit-transform: translateY(4px) rotate(0deg);
	}
	100% {
		transform: translateY(4px) rotate(45deg);
		-webkit-transform: translateY(4px) rotate(45deg);
	}
}

@keyframes upward {
	0% {
		transform: translateY(0px) rotate(0deg);
		-webkit-transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(-4px) rotate(0deg);
		-webkit-transform: translateY(-4px) rotate(0deg);
	}
	100% {
		transform: translateY(-4px) rotate(-45deg);
		-webkit-transform: translateY(-4px) rotate(-45deg);
	}
}

@keyframes upbackward {
	0% {
		transform: translateY(4px) rotate(45deg);
		-webkit-transform: translateY(4px) rotate(45deg);
	}
	50% {
		transform: translateY(4px) rotate(0deg);
		-webkit-transform: translateY(4px) rotate(0deg);
	}
	100% {
		transform: translateY(0px) rotate(0deg);
		-webkit-transform: translateY(0px) rotate(0deg);
	}
}

@keyframes downbackward {
	0% {
		transform: translateY(-4px) rotate(-45deg);
		-webkit-transform: translateY(-4px) rotate(-45deg);
	}
	50% {
		transform: translateY(-4px) rotate(0deg);
		-webkit-transform: translateY(-4px) rotate(0deg);
	}
	100% {
		transform: translateY(0px) rotate(0deg);
		-webkit-transform: translateY(0px) rotate(0deg);
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.1);
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* MOBILE BURGER BUTTON */
/* --------------------------------------- */
@media (width > 760px) {
	.mobileMenuContainer {
		display: none;
	}
}
.mobileBurger {
	background: transparent;
	border: none;
	position: relative;
	z-index: 1000;
	display: block;
}

.hamburger {
	fill: black;
	transition: 1s;
	display: block;
}

.hamburger.mobileBurgerActive {
	fill: white;
	transition: 0.8s;
}

.topLine,
.bottomLine,
.middleLine {
	transition: rotate 0.3s ease-in, transform 0.3s ease-in 0.3s, opacity 0s 0.3s;
	transform-origin: center;
	will-change: rotate, opacity, transform;
}

.mobileBurgerActive {
	.topLine,
	.bottomLine,
	.middleLine {
		transition: transform 0.3s ease-in, rotate 0.3s ease-in 0.3s,
			opacity 0s 0.3s;
		transform-origin: center;
		will-change: transform, opacity, rotate;
	}
}

/* .mobileBurgerActive :is(.topLine, .bottomLine) {
	y: 45;
} */

.mobileBurgerActive .topLine {
	transform: translateY(20px);
}

.mobileBurgerActive .bottomLine {
	transform: translateY(-20px);
}

.mobileBurgerActive .topLine {
	rotate: 45deg;
}

.mobileBurgerActive .bottomLine {
	rotate: -45deg;
}

.mobileBurgerActive .middleLine {
	opacity: 0;
}
