.footer {
	width: 100%;
	background-color: #fea8f1;
	font-family: var(--font-poppins);
	display: flex;
	align-items: center;
	flex-direction: column;
}

.footerPattern {
	width: 100%;
	display: block;
}

.footerContent {
	padding: 6rem 2.5rem 2.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
	flex: 1;
	width: 100%;
	box-sizing: border-box;

	@media (width < 540px) {
		padding: 2rem 1rem 1rem 1rem;
		gap: 2.5rem;
	}
}

.footerNav {
	width: 100%;
	text-transform: uppercase;

	ul {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 2rem;
		font-size: clamp(0.875rem, 0.6261rem + 1.1712vw, 2rem);
	}
}

.footerButtons {
	width: 100%;
	display: flex;
	justify-content: space-between;

	.button {
		width: 45%;
		border: 1px solid black;
		color: black;
		border-radius: 50px;
		font-size: clamp(1.5rem, 3.5vw, 3rem);
		text-align: center;
		text-transform: uppercase;
		padding: 16px 32px;
		cursor: pointer;
	}
}

@media (width < 540px) {
	.footerButtons {
		flex-direction: column;
		gap: 2rem;
	}
	.footerButtons .button {
		width: 100%;
		font-size: 1.5rem;
	}
}

.footerTitle h1 {
	font-family: var(--font-bebas-neue);
	font-size: clamp(6.25rem, -0.231rem + 30.1444vw, 48rem);
	font-weight: 400;
	text-align: center;
	overflow: hidden;
	display: flow-root;

	&::before {
		content: "";
		display: table;
		margin-bottom: calc(-0.5lh + 0.42em);
	}

	&::after {
		content: "";
		display: table;
		margin-bottom: calc(-0.5lh + 0.32em);
	}
}

.footerInfo {
	width: 95vw;
	display: flex;
	gap: 5rem;
	margin-bottom: 2rem;

	h3 {
		font-weight: 500;
	}

	p {
		font-family: var(--font-necto-mono);
	}

	@media (width < 540px) {
		gap: 1.5rem;
		flex-direction: column;
	}

	.footerInfoItem {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		position: relative;
	}

	.instaLogo {
		line-height: 1;
	}

	@media (width > 540px) {
		.instaLogo {
			position: absolute;
			bottom: 0;
			width: 2rem;
		}
	}
}

.footerCredits {
	width: 100%;
	display: flex;
	justify-content: space-between;

	span {
		font-size: clamp(0.5rem, 0.4224rem + 0.361vw, 1rem);
		text-transform: uppercase;
	}
}
