.mobileBurger {
	background: transparent;
	border: none;
	position: relative;
	z-index: 1000;
	display: block;
}

.hamburger {
	fill: black;
	transition: 1s;
	display: block;

	.topLine,
	.bottomLine,
	.middleLine {
		transition: rotate 0.3s ease-in, transform 0.3s ease-in 0.3s,
			opacity 0s 0.3s;
		transform-origin: center;
		will-change: rotate, opacity, transform;
	}
}

.hamburger.mobileBurgerActive {
	fill: white;
	transition: 0.8s;

	.topLine,
	.bottomLine,
	.middleLine {
		transition: transform 0.3s ease-in, rotate 0.3s ease-in 0.3s,
			opacity 0s 0.3s;
		transform-origin: center;
		will-change: transform, opacity, rotate;
	}
}

.mobileBurgerActive .topLine {
	transform: translateY(20px);
	rotate: 45deg;
}

.mobileBurgerActive .bottomLine {
	transform: translateY(-20px);
	rotate: -45deg;
}

.mobileBurgerActive .middleLine {
	opacity: 0;
}
