.openingTimes {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	position: relative;
	font-size: clamp(0.75rem, 0.6336rem + 0.5415vw, 1.5rem);

	.title {
		font-weight: 500;
	}

	.text {
		font-family: var(--font-necto-mono);
	}
}
