.marquee {
	position: relative;
	/* padding: 32px 0; */
	font-family: var(--font-necto-mono);
	font-size: 2rem;
	text-transform: uppercase;
	overflow: hidden;
	z-index: -1;
}

.marqueeInner {
	display: flex;
	width: fit-content;
	flex: auto;
	flex-direction: row;
}

.marqueePart {
	display: flex;
	align-items: center;
	flex-shrink: 0;
	padding: 0 4px;
}
