.menu {
	height: 100dvh;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 12;
	background-color: rgb(41, 41, 41);
	color: white;
	font-family: var(--font-poppins);
}

@media (width < 480px) {
	.menu {
		width: 100%;
	}
}

.menuBody {
	height: 100%;
	padding: clamp(2.5rem, 1.3409rem + 5.4545vw, 6rem);
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.nav {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin-block: 4rem 1.5rem;
		border-bottom: 1px solid rgb(153, 153, 153);
	}

	.navHeader {
		color: rgb(153, 153, 153);
		border-bottom: 1px solid rgb(153, 153, 153);
		text-transform: uppercase;
		margin-bottom: 2rem;
	}

	.navTitle {
		font-size: clamp(0.75rem, 0.6727rem + 0.3636vw, 1rem);
	}

	.link {
		text-decoration: none;
		font-size: clamp(1.75rem, 0.7273rem + 3.6364vw, 3.5rem);
		transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
		display: inline-block;

		&:hover {
			transform: translateX(1.5rem);
		}
	}

	.mascotte {
		align-self: flex-end;
		width: clamp(5rem, 4.6136rem + 1.8182vw, 6.25rem);
		height: auto;

		&:hover {
			animation: jump 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
			animation-iteration-count: 2;
		}
	}
}

.menuFooter {
	width: 100%;
	display: flex;
	gap: 2.5rem;
}

.menuFooter .footerLink {
	font-size: clamp(0.75rem, 0.6727rem + 0.3636vw, 1rem);
	transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
	border: 1px solid rgb(153, 153, 153);
	border-radius: 50px;
	padding: 0.5rem 1rem;

	&:hover {
		transform: translateY(-0.5rem);
	}
}

@keyframes jump {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-1rem);
	}
	100% {
		transform: translateY(0);
	}
}
